<launch>
	<node pkg="roborodney" name="driveJoypad" type="driveJoypad" output="screen"/>
	<node pkg="roborodney" name="robotDriver" type="robotDriver"/>
	<node pkg="joy" name="joy_node" type="joy_node"/>
	<node pkg="roborodney" name="cameraThruWeb" type="cameraThruWeb.py"/>
	<node pkg="roborodney" name="servoDriver" type="servoDriver" />
</launch>
